@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  background: #0a1119;
  width: 100%;
  position: relative;
}

.header .container {
  padding: 33px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90.27%;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 450px;
}
.header__menu {
  position: relative;
  z-index: 10;
}

.menu__burger {
  display: none;
  width: 30px;
  height: 50px;
}
.menu__burger img {
  width: 100%;
  height: 50%;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.menu__row p {
  text-transform: uppercase;
  margin: 0 26.5px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__row p:hover {
  text-shadow: 0 0 10px #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FC0000;
  cursor: pointer;
}

.menu__language {
  margin: 0 0 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.translate {
  margin: 0 5px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.translate:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 0 10px #fff;
  color: #FC0000;
  cursor: pointer;
}

.menu__cv {
  margin: 0 0 0 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.menu__cv button {
  width: 107px;
  height: 38px;
  border-radius: 43px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__cv button:hover {
  border: 1px solid #FC0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__cv button:active {
  background: #FC0000;
}

@media (max-width: 1144px) {
  .menu__cv {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 0 0 20px;
  }
  .menu__language {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 1212px) {
  .header__logo {
    max-width: none;
  }
  .menu__burger {
    display: block;
  }
  .menu__row {
    background: #0a1119;
    width: 185px;
    -webkit-transition: 0.75s;
    transition: 0.75s;
    opacity: 1;
    overflow: hidden;
    padding: 10px 0 30px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
  }
  .menu__row_disactive {
    width: 0;
    opacity: 0;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
  .menu__row p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
  }
  .menu__language {
    margin: 0;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__language div {
    padding: 10px 0;
  }
  .menu__cv {
    padding: 20px 0 0 0;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
.main .container {
  padding: 117px 0 0 0;
  max-width: 80%;
  margin: 0 auto;
}

.main__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 700px;
  -ms-grid-columns: 50% 50%;
      grid-template: 700px/50% 50%;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-shadow: 8px 4px 0 rgba(252, 0, 0, 0.49);
}
.main__body p:nth-child(1) {
  font-size: 48px;
  line-height: 38%;
}
.main__body p:nth-child(2) {
  font-size: 53px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 35px 0 0 0;
}
.main__body p:nth-child(3) {
  margin: 49px 0 0 0;
  font-size: 48px;
  line-height: 106%;
  max-width: 100%;
}

.main__button button {
  width: 50%;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 90%;
  text-transform: uppercase;
  color: #fff;
  background: rgba(252, 0, 0, 0.49);
  border-radius: 43px;
  border: 1px solid #fff;
  margin: 53px 0 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__button button:hover {
  background: #fff;
  color: rgb(252, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__image {
  position: relative;
}

.main__img1 {
  position: absolute;
}
.main__img1 img {
  width: 100%;
  height: auto;
}

.main__img2 {
  position: absolute;
}
.main__img2 img {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .main__grid {
    display: block;
  }
  .main__body {
    margin: 0 0 40px 0;
  }
  .main__button button {
    width: 80%;
  }
  .main__img2 {
    display: block;
    position: relative;
  }
}
@media (max-width: 425px) {
  .main__body p:nth-child(1) {
    font-size: 40px;
    line-height: 38%;
  }
  .main__body p:nth-child(2) {
    font-size: 44px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 35px 0 0 0;
  }
  .main__body p:nth-child(3) {
    margin: 49px 0 0 0;
    font-size: 40px;
    line-height: 106%;
    max-width: 100%;
  }
}
.skills .container {
  max-width: 77.55%;
  margin: 0 auto;
}

.skills__title p {
  line-height: 57px;
}

.skills__grid {
  margin: 160px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 52px 200px 52px 200px 52px;
  -ms-grid-columns: 33.333% 33.333% 33.333%;
      grid-template: 52px 52px 52px/33.333% 33.333% 33.333%;
  row-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 20px 0;
}

.skills__item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.skills__item img {
  position: absolute;
  z-index: 0;
}
.skills__item img:first-child {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 7px;
}
.skills__item img:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.skills__item p {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 0 21px 30px;
  position: relative;
  z-index: 5;
  width: auto;
}
.skills__item p:hover {
  cursor: default;
}

.skills__item_active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills__item_active img {
  position: absolute;
  z-index: 0;
}
.skills__item_active img:first-child {
  padding: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}
.skills__item_active img:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

@media (max-width: 768px) {
  .skills__grid {
    -ms-grid-rows: 52px 100px 52px 100px 52px 100px 52px;
    -ms-grid-columns: 50% 50%;
        grid-template: 52px 52px 52px 52px/50% 50%;
    row-gap: 100px;
  }
  .skills__item p {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .skills__title .lang {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 460px) {
  .skills__grid {
    -ms-grid-rows: 52px 50px 52px 50px 52px 50px 52px 50px 52px 50px 52px 50px 52px 50px 52px 50px 52px;
    -ms-grid-columns: 100%;
        grid-template: repeat(9, 52px)/100%;
    row-gap: 50px;
  }
}
@media (max-width: 375px) {
  .skills__title .lang {
    font-size: 22px;
    line-height: 25px;
  }
}
.works .container {
  padding: 146px 0 0 0;
  max-width: 80%;
  margin: 0 auto;
}

.works__subtitle {
  margin: 30px 0 0 90px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.works__row {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__slider {
  min-width: 0;
  max-width: 96.06%;
  overflow: hidden;
}

.slider__item {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__image {
  background: #fff;
  border-radius: 43px;
  width: 50%;
  overflow: hidden;
}
.slider__image img {
  width: 100%;
}

.slider__deritption {
  width: 35%;
  margin: 0 0 0 90px;
}
.slider__deritption p {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.slider__deritption p:nth-child(2) {
  margin: 70px 0 0 0;
}
.slider__deritption button {
  margin: 70px auto 0 auto;
  width: 80%;
  height: 60px;
  border-radius: 43px;
  background: rgba(252, 0, 0, 0.49);
  border: 1px solid #fff;
  font-family: Montserrat;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__deritption button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 5px 5px rgba(252, 255, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(252, 255, 255, 0.5);
}

.slider__image {
  position: relative;
  border-radius: 43px;
  border: 1px solid #fff;
}
.slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slick-dots {
  margin: 75px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-dots li {
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.slick-dots li.slick-active button {
  background: rgba(252, 0, 0, 0.49);
}

.slick-dots li button {
  width: 180px;
  height: 60px;
  border-radius: 43px;
  background: transparent;
  border: 1px solid #fff;
  font-family: Montserrat;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .slider__image {
    background: #fff;
    border-radius: 43px;
    width: 70%;
    overflow: hidden;
  }
  .slick-dots li button {
    margin: 0 auto 0 auto;
    width: 140px;
  }
  .slider__deritption {
    width: 30%;
    margin: 0 0 0 40px;
  }
}
@media (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__image {
    position: relative;
    border-radius: 43px;
    border: 1px solid #fff;
    padding: 0 0 40% 0;
    width: 100%;
  }
  .slider__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__deritption {
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
  }
  .slider__deritption p:nth-child(2) {
    margin: 30px 0 0 0;
  }
  .slider__deritption button {
    margin: 40px auto 0 auto;
  }
  .slick-dots {
    margin: 20px 0 0 0;
  }
  .slick-dots li button {
    margin: 0 auto 0 auto;
    width: 90%;
  }
}
@media (max-width: 425px) {
  .slider__image {
    position: relative;
    border-radius: 43px;
    border: 1px solid #fff;
    padding: 0 0 40% 0;
    width: 100%;
    height: 100%;
  }
  .slider__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slick-dots li {
    padding: 10px 0 0 0;
  }
}
@media (max-width: 550px) {
  .works__title .lang {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 375px) {
  .works__title .lang {
    font-size: 22px;
    line-height: 25px;
  }
}
.contacts .container {
  padding: 234px 0 0 0;
  max-width: 80%;
  margin: 0 auto;
}

.contacts__text1 {
  margin: 40px 0 0 0;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.contacts__row {
  max-width: 42.29%;
  margin: 57px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__column div {
  margin: 0 0 25px 0;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__column p {
  margin: 0 0 25px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.contacts__column a {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(252, 0, 0, 0.7);
  text-decoration: underline;
}

.contacts__line {
  height: 240px;
  width: 3px;
  background: rgb(252, 0, 0);
}

.contacts__text2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-width: 257px;
  margin: 56px auto 0 auto;
}

.contacts__form {
  max-width: 42.29%;
  margin: 39px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__form input {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(91, 87, 87);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts__form input:nth-child(2) {
  margin: 54px 0 0 0;
}
.contacts__form input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px 10px rgba(252, 0, 0, 0.3);
          box-shadow: 0 0 10px 10px rgba(252, 0, 0, 0.3);
}
.contacts__form textarea {
  margin: 54px 0 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts__form textarea:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px 10px rgba(252, 0, 0, 0.3);
          box-shadow: 0 0 10px 10px rgba(252, 0, 0, 0.3);
}

.contacts__button {
  background: rgba(252, 0, 0, 0.49);
  height: 61px;
  width: 51.06%;
  margin: 72px auto;
  border: 1px solid #fff;
  border-radius: 43px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 5px 5px rgba(252, 255, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(252, 255, 255, 0.5);
}

@media (max-width: 1440px) {
  .contacts__row {
    max-width: 52.29%;
  }
  .contacts__form {
    max-width: 52.29%;
  }
}
@media (max-width: 1024px) {
  .contacts__row {
    max-width: 70.29%;
  }
  .contacts__form {
    max-width: 70.29%;
  }
}
@media (max-width: 768px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .contacts__line {
    height: 3px;
    width: 80%;
    margin: 30px auto;
  }
  .contacts__column {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    -ms-grid-columns: 20% 80%;
        grid-template: 50% 50%/20% 80%;
  }
  .contacts__column div {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    margin: 0 0 0 0;
  }
  .contacts__column p {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    text-align: left;
    margin: 0 0 0 20px;
  }
  .contacts__column a {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    text-align: left;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 550px) {
  .contacts__title .lang {
    font-size: 25px;
    line-height: 25px;
  }
  .contacts__text1 {
    margin: 60px;
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .contacts__button {
    width: 75%;
  }
}
@media (max-width: 375px) {
  .contacts__title .lang {
    font-size: 22px;
    line-height: 25px;
  }
  .contacts__text1 {
    font-size: 18px;
  }
  .contacts__button {
    width: 89%;
  }
}
.title {
  position: relative;
}
.title img {
  position: absolute;
  z-index: 0;
}
.title img:first-child {
  padding: 7px 0 0 12px;
}
.title p {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 37px 0 0 74px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}

.cv {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 25px;
  border: 3px solid rgb(102, 0, 0);
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  z-index: 11;
  width: 80%;
  background: #0a1119;
}
.cv .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cv_disactive {
  display: none;
}

@media (max-width: 767px) {
  .cv .container {
    display: block;
  }
  .left__photo {
    margin: 0 auto;
  }
}
.cv__close {
  max-width: 60px;
  max-height: 60px;
  top: 5px;
  right: 10px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cv__close img {
  width: 100%;
}
.cv__close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cv__left {
  padding: 20px 10%;
  background: #fff;
}

.left__photo {
  max-width: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.left__photo img {
  width: 100%;
}

.left__contacts p, .left__contacts a {
  margin: 3px 0 0 0;
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  padding: 0 0 5px 0;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.left__contacts p {
  margin: 10px 0 0 0;
}
.left__contacts a {
  text-decoration: underline;
}

.left__titile {
  margin: 20px 0 0 0;
  font-family: Montserrat;
  font-size: 28px;
  border-bottom: 2px solid #000;
  padding: 0 0 5px 0;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.left__map:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/cv/map.png") 0 0/cover no-repeat;
  margin: auto 5px auto 0;
}

.left__telegram {
  display: block;
}
.left__telegram:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/cv/tg.png") 0 0/cover no-repeat;
  margin: auto 5px auto 0;
}

.left__mail {
  color: #000;
  display: inline-block;
  width: 100%;
}
.left__mail:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/cv/mail.png") 0 0/cover no-repeat;
  margin: auto 5px auto 0;
}

.left__github:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/cv/gh.png") 0 0/cover no-repeat;
  margin: auto 5px auto 0;
}

.left__skills p:nth-child(2) {
  margin: 5px 0 0 0;
}
.left__skills p {
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  padding: 0 0 5px 0;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.left__skills p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
  margin: auto 5px auto 0;
}

.left__languages div:nth-child(2) {
  padding: 10px 0 0 0;
}

.language__row {
  margin: 7px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language__cell {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
}
.language__cell-color {
  background: rgb(252, 0, 0);
}

.cv__right {
  padding: 20px 10%;
  color: #fff;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.cv__name {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #fff;
}
.cv__name_up {
  display: none;
}

.cv__subtitle {
  margin: 15px 0 0 0;
  font-size: 22px;
  text-align: center;
}

.cv__text {
  margin: 25px auto 0 auto;
  text-align: center;
  max-width: 50%;
}

.cv__block {
  margin: 20px 0 0 0;
}
.cv__block h1 {
  width: 100%;
  color: rgba(252, 0, 0, 0.49);
  font-size: 28px;
  font-weight: 800;
  padding: 0 0 15px 0;
  border-bottom: 3px solid rgba(252, 0, 0, 0.49);
}
.cv__block h2 {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: 600;
  max-width: 80%;
  margin: 15px auto 0 auto;
  text-align: center;
}
.cv__block h3 {
  max-width: 90%;
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}